*.class
*.log
*.DS_STORE
*.swp

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

/.idea

# project specific, these should be set up by the user, see README.md
/src/main/resources/application.conf
/src/main/resources/receiver_emails.txt
